body {
    font-family: 'PT Sans', sans-serif;
}

header h1 {
    color: #FFF;
    text-align: center;
}

main {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

label {
    display: none;
}

#current-uv {
    display: table;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

#cityandicon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-history {
    display: flex;
    flex-direction: column;
}
